body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 100%;
    margin: 0;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info h2 {
    margin: 5px 0;
    font-size: 20px;
    color: #666;
}

.profile-info p {
    margin: 5px 0;
    color: #333;
}

.see-all-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.stat h3 {
    margin: 0;
    font-size: 18px;
    color: #666;
}

.stat p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.follow-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.bell-icon {
    margin-left: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.tab {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.content-categories {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.category {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery-item {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
